<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/landmarks" method="post">
      <label>Name:</label>
      <br></br>
      <input type="text" name="landmark[name]" id="landmark_name" value="">
      <br></br>
      <label>Year Completed:</label>
      <br></br>
      <input type="text" name="landmark[year_completed]" id="landmark_year_completed" value="">
      <input type="submit" name="submit" value="Create Landmark">
    </form>
  </body>
</html>
