<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      <% Figure.all.each do |figure| %>
      <li><a href="/figures/<%=figure.id%>"><%= figure.name %></a></li>
      <% end %>
    </ul>
  </body>
</html>
